# Project 11: Index Tracking and Forward Testing (US Stocks)

## Importing the Data

In [1]:
import pandas as pd

In [2]:
const = pd.read_csv("const_prices.csv", parse_dates = ["Date"], index_col = "Date")
const

,AAPL,AXP,BA,CAT,CSCO,CVX,DIS,DOW,GS,HD,...,PFE,PG,RTX,TRV,UNH,V,VZ,WBA,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,11.971429,60.360001,89.169998,61.160000,27.730000,70.970001,33.738300,NaN,200.720001,41.070000,...,26.290001,64.540001,39.528004,53.549999,52.570000,NaN,35.306732,46.070000,47.549999,74.110001
2007-01-04,12.237143,59.919998,89.529999,61.000000,28.459999,70.279999,34.004654,NaN,198.850006,40.570000,...,26.379999,64.050003,39.565765,53.099998,52.910000,NaN,35.502777,46.160000,47.779999,72.720001
2007-01-05,12.150000,59.130001,89.150002,60.220001,28.469999,70.550003,33.728436,NaN,199.050003,39.790001,...,26.299999,63.500000,39.446194,52.410000,52.549999,NaN,34.895969,45.500000,47.389999,73.239998
2007-01-08,12.210000,59.689999,88.940002,60.290001,28.629999,71.449997,34.034248,NaN,203.729996,39.490002,...,26.160000,63.639999,39.767151,52.020000,53.320000,NaN,34.363850,45.689999,47.000000,72.650002
2007-01-09,13.224286,59.310001,88.000000,60.619999,28.469999,70.629997,33.984924,NaN,204.080002,39.320000,...,26.170000,63.480000,39.314034,51.889999,52.680000,NaN,34.503880,45.930000,47.389999,72.089996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,246.880005,84.050003,127.680000,101.339996,38.599998,66.550003,98.120003,28.469999,153.600006,184.720001,...,29.700001,103.269997,54.600376,93.739998,219.800003,154.529999,49.990002,45.250000,115.029999,35.439999
2020-03-25,245.520004,90.169998,158.729996,104.669998,37.669998,69.269997,100.730003,30.379999,155.130005,181.759995,...,29.750000,100.919998,60.534927,92.180000,234.490005,161.779999,49.939999,41.439999,109.400002,37.290001
2020-03-26,258.440002,93.290001,180.550003,110.500000,40.580002,76.379997,105.360001,29.680000,165.789993,195.210007,...,31.750000,107.379997,65.852737,98.669998,255.389999,168.880005,53.540001,45.669998,109.820000,38.820000
2020-03-27,247.740005,88.730003,162.000000,105.440002,38.820000,68.779999,96.400002,28.559999,158.339996,190.550003,...,30.900000,110.169998,61.139080,99.949997,242.449997,161.559998,52.770000,44.000000,109.580002,36.950001
2020-03-30,254.809998,90.269997,152.279999,111.709999,40.320000,71.949997,99.800003,28.650000,159.619995,196.100006,...,32.669998,115.000000,61.982380,102.589996,251.279999,165.570007,54.770000,45.160000,115.190002,37.500000

In [3]:
const.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3334 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AXP     3333 non-null   float64
 2   BA      3333 non-null   float64
 3   CAT     3333 non-null   float64
 4   CSCO    3333 non-null   float64
 5   CVX     3333 non-null   float64
 6   DIS     3333 non-null   float64
 7   DOW     260 non-null    float64
 8   GS      3333 non-null   float64
 9   HD      3333 non-null   float64
 10  IBM     3333 non-null   float64
 11  INTC    3333 non-null   float64
 12  JNJ     3333 non-null   float64
 13  JPM     3333 non-null   float64
 14  KO      3333 non-null   float64
 15  MCD     3333 non-null   float64
 16  MMM     3333 non-null   float64
 17  MRK     3333 non-null   float64
 18  MSFT    3333 non-null   float64
 19  NKE     3333 non-null   float64
 20  PFE     3333 non-null   float64
 21  PG      3333 non-null   float64
 22  RTX     3333 non-null   float64
 23  TRV     3333 non-null   float64
 24  UNH     3333 non-null   float64
 25  V       3029 non-null   float64
 26  VZ      3333 non-null   float64
 27  WBA     3333 non-null   float64
 28  WMT     3333 non-null   float64
 29  XOM     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.5 KB

In [ ]:
dji = pd.read_csv("dji.csv", parse_dates = ["Date"], index_col = "Date")
dji

In [ ]:
dji.info()

In [ ]:
dji = dji.Close.to_frame().copy()

In [ ]:
dji

In [ ]:
df = pd.concat([const, dji], axis = 1)
df

In [ ]:
df.rename(columns = {"Close": "DJI"}, inplace = True)

In [ ]:
more_info = pd.read_csv("const.csv")
more_info

## Transforming the Data

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
plt.style.use("seaborn")

In [ ]:
df.plot(figsize = (20, 12), fontsize = 15, secondary_y = "DJI")
plt.show()

In [ ]:
df.div(df.iloc[0]).mul(100)

In [ ]:
norm = df.div(df.iloc[0]).mul(100)
norm

In [ ]:
norm.plot(figsize = (20, 12), fontsize = 15)
plt.legend(fontsize = 12)
plt.show()

In [ ]:
norm.drop(columns =["AAPL"]).plot(figsize = (20, 12), fontsize = 15)
plt.legend(fontsize = 12)
plt.show()

In [ ]:
ret = df.pct_change()

In [ ]:
ret

In [ ]:
ret.describe()

In [ ]:
def summary_ann(returns):
    summary = returns.agg(["mean", "std"]).T
    summary["Return"] = summary["mean"] * 252
    summary["Risk"] = summary["std"] * np.sqrt(252)
    summary.drop(columns = ["mean", "std"], inplace = True)
    return summary

In [ ]:
summary = summary_ann(ret)
summary

In [ ]:
summary = summary.merge(more_info.loc[:, ["Ticker", "Company"]],
                        how = "left", left_index= True, right_on = "Ticker")

In [ ]:
summary.set_index("Company", inplace = True)

In [ ]:
summary

In [ ]:
summary.rename(index = {np.nan : "Dow Jones"}, inplace = True)

In [ ]:
summary

## Explanatory Data Analysis

In [ ]:
ret.info()

In [ ]:
summary2 = summary.drop(index = "Dow Inc.")
summary2

In [ ]:
summary2.sort_values(by = "Return", ascending = False).plot(kind = "bar", figsize = (20, 12), 
                                                            fontsize = 15)
plt.legend(fontsize = 15)
plt.show()

In [ ]:
summary2.sort_values(by = "Risk", ascending = False).plot(kind = "bar", figsize = (20, 12), 
                                                          fontsize = 15)
plt.legend(fontsize = 15)
plt.show()

In [ ]:
summary2.set_index("Ticker", inplace = True)

In [ ]:
summary2

In [ ]:
summary2.plot(kind = "scatter", x = "Risk", y = "Return", figsize = (15,12), s = 50, fontsize = 15)
for i in summary2.index:
    plt.annotate(i, xy=(summary2.loc[i, "Risk"]+0.002, summary2.loc[i, "Return"]+0.002), size = 15)
plt.xlabel("ann. Risk(std)", fontsize = 15)
plt.ylabel("ann. Return", fontsize = 15)
plt.title("Risk/Return", fontsize = 20)
plt.show()

In [ ]:
corr_matrix = ret.corr()
corr_matrix

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize = (20, 12))
sns.heatmap(corr_matrix, cmap='RdYlGn',annot=True, vmin = 0.2, vmax = 0.8)
plt.show()

## Index Tracking - an Introduction

Plan: Track the DJI with only __10 Stocks__ (Tracking Portfolio).

Criteria to select Tracking Portfolio: Those 10 Stocks with the __lowest individual Tracking Error__ (TE) in the Training/Fitting Period.

- Training/Fitting Period: 2017 & 2018
- (Forward) Testing Period: 2019

Once we have identified the 10 Tracking Stocks we need to find their __optimal weights__ in the Tracking Portfolio that __minimize TE__.

In [ ]:
df.info()

In [ ]:
df2 = df.loc["2017":"2018"].copy()
df2

In [ ]:
norm2 = df2.div(df2.iloc[0]).mul(100)
norm2

In [ ]:
ret2 = ret.loc["2017":"2018"].copy()
ret2

In [ ]:
ret_diff = ret2.sub(ret2.DJI, axis = 0)
ret_diff

In [ ]:
ret_diff.agg(["mean", "std"]).T

## Selecting the Tracking Stocks

In [ ]:
def tracking_ann(returns):
    summary = returns.agg(["mean", "std"]).T
    summary["Premium"] = summary["mean"] * 252
    summary["TE"] = summary["std"] * np.sqrt(252)
    summary.drop(columns = ["mean", "std"], inplace = True)
    return summary

In [ ]:
tracking = tracking_ann(ret_diff)
tracking

In [ ]:
tracking.sort_values(by = "TE")

In [ ]:
noa = 10

In [ ]:
tracking_stocks = tracking.sort_values(by = "TE").index[:noa+1]

In [ ]:
tracking_stocks

In [ ]:
norm_track = norm2.loc[:, tracking_stocks]
norm_track

In [ ]:
norm_track.plot(figsize = (20, 12), fontsize = 15)
plt.legend(fontsize = 12)
plt.show()

In [ ]:
tracking_stocks = tracking_stocks[1:]
tracking_stocks

## Index Tracking - A simple Tracking Portfolio

In [ ]:
tracking_stocks

In [ ]:
#equal weights (starting point of optimization)
eweights = np.full(noa, 1/noa)
eweights

In [ ]:
ret2.loc[:, tracking_stocks].mean(axis = 1)

In [ ]:
ret2.loc[:, tracking_stocks].dot(eweights)

In [ ]:
#calculate portfolio returns (based on weights)
def port_ret(weights):
    return ret2.loc[:, tracking_stocks].dot(weights)

In [ ]:
#define function to be minimized -> minimize tracking error of tracking portfolio
def tracking_error(weights): 
     return port_ret(weights).sub(ret2.DJI).std() * np.sqrt(252)

In [ ]:
tracking_error(eweights)

In [ ]:
ew_port = port_ret(eweights)[1:].add(1).cumprod().mul(100)
ew_port

In [ ]:
norm_track["EW_Port"] = ew_port
norm_track.iloc[0, -1] = 100

In [ ]:
norm_track

In [ ]:
norm_track[["EW_Port", "DJI"]].plot(figsize = (15, 10))
plt.legend(fontsize = 20, loc = 2)
plt.show()

## Index Tracking - The optimal Tracking Portfolio

In [ ]:
import scipy.optimize as sco #import scipy optimize

In [ ]:
#constraint: weights must sum up to 1 -> sum of weights - 1 = 0
cons = ({"type": "eq", "fun": lambda x: np.sum(x) - 1})
cons

In [ ]:
#bounds: all weights shall be between 0 and 1 -> can be changed
bnds =  tuple((0,1) for x in range(noa))
bnds

In [ ]:
#run optimization based on function to be minimized, starting with equal weights and based on respective bounds and constraints
opts = sco.minimize(tracking_error, eweights, method = "SLSQP", bounds = bnds, constraints= cons)

In [ ]:
#output of optimization
opts

In [ ]:
#getting the optimal weights
optimal_weights = opts["x"]
optimal_weights

In [ ]:
pd.Series(index = tracking_stocks, data = optimal_weights)

In [ ]:
opt_port = port_ret(optimal_weights)[1:].add(1).cumprod().mul(100)
opt_port

In [ ]:
norm_track["Opt_Port"] = opt_port
norm_track.iloc[0, -1] = 100

In [ ]:
norm_track

In [ ]:
norm_track[["Opt_Port", "DJI"]].plot(figsize = (15, 10))
plt.legend(fontsize = 20, loc = 2)
plt.show()

In [ ]:
summary_ann(norm_track[["Opt_Port", "EW_Port", "DJI"]].pct_change())

## Forward Testing (Part 1)

In [ ]:
df

In [ ]:
ret

In [ ]:
tracking_stocks

In [ ]:
def tracking_error_gen(data, tracking_stocks, weights, index, start, end):
    return data.loc[start:end, tracking_stocks].dot(weights).sub(ret.loc[start:end, index]).std() * np.sqrt(252)

In [ ]:
def visual(data, tracking_stocks, weights, index, start, end):
    track = data.loc[start:end, tracking_stocks].dot(weights).add(1).cumprod().mul(100)
    track.name = "Portfolio"
    index = data.loc[start:end, index].add(1).cumprod().mul(100)
    plt.figure(figsize = (12,8))
    track.plot()
    index.plot()
    plt.legend(fontsize = 20, loc = 2)
    plt.show()

In [ ]:
tracking_error_gen(ret, tracking_stocks, optimal_weights, "DJI", "2017-01-01", "2018-12-31")

In [ ]:
forward_te = tracking_error_gen(ret, tracking_stocks, optimal_weights, "DJI", 
                                "2019-01-01", "2019-12-31")
forward_te

In [ ]:
visual(ret, tracking_stocks, optimal_weights, "DJI", "2019-01-01", "2019-12-31")

## Forward Testing (Part 2)

In [ ]:
bucket = df.columns.drop(["DOW", "DJI"])
bucket

In [ ]:
np.random.choice(bucket, size = noa, replace = False)

In [ ]:
random_numbers = np.random.random(noa)
random_weights = random_numbers / random_numbers.sum()
random_weights.sum()

In [ ]:
np.random.seed(123)
random_stocks = np.random.choice(bucket, size = noa, replace = False)
random_numbers = np.random.random(noa)
random_weights = random_numbers / random_numbers.sum()

In [ ]:
print(random_stocks, random_weights)

In [ ]:
tracking_error_gen(ret, random_stocks, random_weights, "DJI", "2019-01-01", "2019-12-31")

In [ ]:
forward_te

In [ ]:
visual(ret, random_stocks, random_weights, "DJI", "2019-01-01", "2019-12-31")

In [ ]:
tes = np.empty(10000)
np.random.seed(123)
for i in range(10000):
    random_numbers = np.random.random(noa)
    random_weights = random_numbers / random_numbers.sum()
    random_stocks = np.random.choice(bucket, size = noa, replace = False)
       
    tes[i] = tracking_error_gen(ret, random_stocks, random_weights, "DJI", "2019-01-01", "2019-12-31")

In [ ]:
(tes < forward_te).mean()

In [ ]:
plt.figure(figsize = (12, 8))
plt.hist(tes, bins = 100)
plt.show()

In [51]:
a=10*1700*52*10
a

8840000

In [52]:
0.00000884/25000

3.536e-10