# Project 6: Importing & Merging many files (Baby Names Dataset) - Part 1

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 6 (Part 1) on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Getting the Files from the Web

1. __Go__ to  https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-data and __download__ and __unzip__ the file.

In [8]:
import pandas as pd
import numpy as np

## Importing one File & Understanding the Data Structure

2. __Load__ the file __"yob1880.txt"__ into Pandas and __inspect__.

In [28]:
a=pd.read_csv('yob1880.txt', names=['name','sex','count'])
a

           name sex  count
0          Mary   F   7065
1          Anna   F   2604
2          Emma   F   2003
3     Elizabeth   F   1939
4        Minnie   F   1746
...         ...  ..    ...
1995     Woodie   M      5
1996     Worthy   M      5
1997     Wright   M      5
1998       York   M      5
1999  Zachariah   M      5

[2000 rows x 3 columns]

## Importing & merging many files (easy case)

3. __Load__ all files (yob????.txt) and __merge/concatenate__ all files into one Pandas DataFrame. Make sure you add the __column "Year"__.

4. Create a __RangeIndex__ and __save__ the DataFrame (with columns "Year", "Name", "Gender" and "Count") in a new csv-file.

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 2.__ <br>
You can use pd.read_csv(). You need to add appropriate column headers (e.g. "Name", "Gender", "Count")

__Hints for 3.__<br>
Use a for loop and pd.concat().